# Python
__pycache__/
*.pyc

# Virtual Environment
backend/.venv/
.venv/

# Environment Variables
.env
*.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

*.db